#root {
  font-family: Inter;
  font-size: 14px;
}



body, .user-container {
  background-image: url('/background.avif');
  background-repeat: no-repeat;
  background-size: cover;      
  background-position: center; 
  background-attachment: fixed; 
  margin: 0;                    
  min-height: 100vh;   
}

.fade-alert, .alert {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}


.card.no-border-bg {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}




h2 {
  font-weight: bold;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bg-primary-dark {
  background-color: #003366; 
}


.thread-tile:hover {
  background-color: #f8f9fa;
  border-left: 10px solid #0d6efd;
  transition: all 0.2s ease-in-out;
}

.btn-set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 4px 10px;
  margin: 0 auto; 
  gap: 6px;
}


.card-info {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.card-info:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; 
}

.spinner {
  width: 50px;
  height: 50px;
}

.nav-link{
  color: #fff !important;
}

.nav-link:hover {
  color: #ffcc00b4 !important;
}

.nav-link.active {
  color: #ffcc00 !important;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-animation 2s 1;
}

.fade-alert {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.custom-hover:hover {
  background-color: #004080 !important; /* darker shade of Bootstrap 'primary' */
  border-color: #003366 !important;
}

.custom-hover-danger:hover {
  background-color: #a30000 !important; /* darker red */
  border-color: #8b0000 !important;
}


